<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1>Sorry something went realy wrong!</h1>
                    <a href="/"><h3>Go Back!</h3></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
